@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #CD104D;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: #000000;
  --color-accent: #d1dce5;
  --color-background: #e6e6e6;
  --dark-mode: #000;
  --dark-mode-hf: #CD104D;
  /* Font family */
  --font-family-base: "Open Sans" 
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: "Open Sans";
    margin: 0 8px;
    transition: background-color 0.3s ease;
}

body.dark {
    --color-background: #000213;
    // --color-background: rgb(0 17 25);
    --color-primary: #CD104D;
    --color-text: #ffffffdc;
    --color-text-light: #b1b1b1;
    --color-heading: #DFDFDE;
    --color-heading-black: #EDEDED;
    --color-accent: #d1dce5;
}

body.light {
    --color-primary: #CD104D;
    --color-text: #2e353f;
    --color-text-light: #484848;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #d1dce5;
    --color-background: #FFFFFF;
}

.Layout {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 1rem;
}

.Navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    padding-top: 2rem;
    &__Wrapper {
        width: 90%;
    }
    &__Brand {
        text-decoration: none;
    }
    &__Title {
        font-size: 22px;
        color: var(--color-text);
    }
    &__Tabs {
        margin-top: 1rem;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    &__Link, &__Home, &__Github {
        margin-right: 2.2rem;
        font-size: large;
        font-weight: 500;
        color: var(--color-text-light);
        text-decoration: none;
    }
    &__Github {
        display: flex;
    }
    &__OpenTabIcon {
        margin-top: 3px;
        margin-left: 3px;
    }
    &__Toggle {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.4);
        background-color: var(--color-background);
        color: var(--color-text);
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            border: solid grey 1px;
        }
    }
}

.Home {
    &__Header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    &__Title {
        font-size: 3rem;
        margin-bottom: 0;
    }
    &__Subtitle {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }
    &__Description {
        font-size: 1.2rem;
        font-weight: 500;   
    }
    &__Left {
        width: 50%;
    }
    &__Right {
        width: 50%;
        height: fit-content;
        margin-left: 12%;
    }
}

.About {
    &__Title {
        font-size: 2.8rem;
    }
    &__Description {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.Blog {
    &__Title {
        font-size: 2.8rem;
    }
    &__Year {
        margin-top: 2.5rem;
        &--Date {
            font-size: 2.2rem;
            font-weight: 700;
        }
        &--Content {
            margin-top: 2rem;
        }
    }
}

.ViewAllButton {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 6px 8px;
    font-size: 16px;
    border: solid 1px grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        border: solid var(--color-heading) 1px;
    }
}

.Projects {
    &__Title {
        font-size: 2.8rem;
    }
}

.Latest__Posts {
    &--Link {
        text-decoration: none;
    }
    margin: 6rem 0 0 0;
    &--Header {
        display: flex;
        justify-content: space-between;
    }
    &--Title {
        margin: 0;
    }
    &--Content {
        margin: 2rem 0 2rem 0;
    }
    &--Post {
        &-Title {
            margin: 1rem 0 0 0;
            color: var(--color-text);
            font-size: 1em;
        }
        &-Row {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-bottom: 3px;
            padding-top: 4px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.28);
        }
        &-Date {
            margin: 0;
            color: var(--color-text);
        }
    }
}

.Popular {
    margin: 6rem 0 0 0;
    &__Content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;
    }
    &__Post {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: self-start;
        width: 300px;
        height: 100px;
        flex-grow: 2;
        border-radius: 5px;
        padding: 1rem;
        text-decoration: none;
        // color: #333;
        // background: none;
        // background: #9ed4e9;
        border: 1px solid var(--color-text);
        &--Title {
            width: 100%;
            margin: 0;
            color: var(--color-text);
        }
        &--Footer {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0;
            color: var(--color-text);
        }
    }
}

.Home__Projects {
    margin: 6rem 0;
    &--Content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;
    }
    &--Card {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
        width: 300px;
        height: 200px;
        flex-grow: 2;
        border: 1px solid var(--color-text);
        border-radius: 5px;
        &--Title {
            font-weight: bold;
            color: var(--color-text);
        }
    }
    &--Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--Title {
        
    }
    &--Card-Actions {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &--Button {
        color: var(--color-text);
        padding: 3px 4px;
        font-size: 16px;
        border: solid 1px transparent;
        margin-right: 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            border: solid var(--color-heading) 1px;
        }
    }
}

// .Footer {
//     width: 100%;
//     height: 60px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

@media screen and (min-width: 700px) {
    .Navigation__Home {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .Navigation {
        margin-bottom: 2rem;
        &__Brand {
            display: none;
        }
        &__Github {
            display: none;
        }
    }
    .Layout {
        margin: 0.5rem 0.3rem;
        padding: 0;
    }
    .Home {
        &__Header {
            flex-wrap: wrap;
        }
        &__Left, &__Right {
            width: 100%;
        }
        &__Right {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 400px) {
    .Navigation {
        &__Link {
            margin-right: 0.7rem;
        }
        &__Wrapper {
            margin-right: 15px;
        }
    }
}